<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <iframe width="50%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1068215392&amp;{ ADD YOUR PARAMETERS HERE }">
  </iframe>
     <div class="container">
        <h1>Welcome to Music Hub</h1>
        <p>Discover and explore your favorite artists and tracks.</p>
        <div class="links">
            <!-- Add target="_blank" attribute to open Spotify in a new tab -->
            <a href="https://www.spotify.com/" target="_blank">Search for Artists</a>
            <form action="{{ url_for('artist_search') }}" method="get">
                <input type="text" name="artist_name" placeholder="Search for an artist">
                <button type="submit">Search</button>
            </form>
            <form action="{{ url_for('track_search') }}" method="GET">
                <input type="text" name="query" placeholder="Search for tracks">
                <button type="submit">Search</button>
            </form>          
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>

            <!-- Add Disqus comment section -->
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
                /*
                var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://Music.Hub.Chat.disqus.com/embed.js'; // Replace 'your-disqus-shortname' with your Disqus shortname
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</body>
</html>
